$background-color: #f5f5f5;
$card-background-color: #ffffff;
$card-header-background-color: rgba(22, 22, 23, .88);
$card-header-color: rgba(255, 255, 255, 0.8);
$card-box-shadow: rgba(0,0,0,0.1);

[data-controller=weather] {
  .search-input {
    flex: 1;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    padding: 5px;
    font-size: 1rem;
    transition: border-bottom-color 0.25s ease-in-out;
  }
  .search-input:focus {
    outline: none;
    border-bottom-color: #007bff;
  }
  .search-button {
    background-color: black;
    color: #fff;
    margin-left: 10px;
  }
  .search-form {
    display: flex;
    align-items: center;
  }
}

.weather-card,
.forecast-card {
  .card {
    border: none;
    box-shadow: 0 2px 4px $card-box-shadow;
    background-color: $card-background-color;
  }
  .card-header {
    background-color: $card-header-background-color;
    color: $card-header-color;
    font-weight: bold;
    border-bottom: none;
  }
  .card-body {
    padding: 20px;
  }
  .currentDate {
    font-size: 2rem;
  }
  .location {
    font-size: 1.5rem;
  }
  .weather-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .temperature {
    font-size: 2rem;
    font-weight: bold;
  }
  .description {
    text-transform: capitalize;
  }
  .details {
    margin-top: 20px;
  }
}
